<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is part of MEDrecord.
  This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License (the
  "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at

      http://creativecommons.org/licenses/by-nc-sa/4.0/

  Copyright (c) 2013 MEDvision360. All rights reserved.
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID"
         version="2.5"
         >
  
  <!-- medvision-server standard web-app stuff -->

  <display-name>@displayName@</display-name>

  <servlet>
    <servlet-name>@servletName@</servlet-name>
    <servlet-class>com.medvision360.lib.server.RestletServlet</servlet-class>

    <!-- tell restlet which application to start -->
    <init-param>
      <param-name>org.restlet.application</param-name>
      <param-value>@applicationClass@</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
     <servlet-name>EventSocketServlet</servlet-name>
     <!--suppress WebProperties -->
    <servlet-class>
        com.medvision360.wslog.EventSocketServlet
     </servlet-class>
     <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
     <servlet-name>LogSocketServlet</servlet-name>
     <!--suppress WebProperties -->
    <servlet-class>
        com.medvision360.wslog.LogSocketServlet
     </servlet-class>
     <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
     <servlet-name>EventSocketServlet</servlet-name>
     <url-pattern>/wslog/events</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
     <servlet-name>LogSocketServlet</servlet-name>
     <url-pattern>/wslog/logs</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>@servletName@</servlet-name>
    <url-pattern>/v2/*</url-pattern>
  </servlet-mapping>

  <!-- end medvision-server standard web-app stuff -->
  
  <!--
  it baffles me _why_ exactly, but enabling this causes 404 on
        /medrecord/v2/apidocs/lib/jquery-1.8.0.min.js
  probably its use causes something, somewhere, somehow, to not be able to
  read some other things from the war at a later point
  <listener>
    <description>LoggingConfiguration</description>
    <listener-class>com.medvision360.medrecord.server.LoggingConfigurationListener</listener-class>
  </listener>
  -->
  
  <listener>
    <!--
      we can't quite use the serverlib/restlet config loading mechanism
      since we want to configure the middleware, too
    -->
    <description>BaseXConfiguration</description>
    <listener-class>com.medvision360.medrecord.server.BaseXConfigurationListener</listener-class>
  </listener>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
</web-app>
