[submodule "java/medrecord-vendor/ref_impl_java"]
	path = java/medrecord-vendor/ref_impl_java
	url = git@github.com:ZorgGemak/java-libs.git
[submodule "archetypes/archetypes"]
	path = archetypes/archetypes
	url = git@github.com:MEDvision/archetypes.git
